// Spacing
$spacing-0: 0px;
$spacing-0-2: 0.2px;
$spacing-0-5: 0.5px;
$spacing-0-07: 0.07px;
$spacing-0-12: 0.12px;
$spacing-0-14: 0.14px;
$spacing-0-16: 0.16px;
$spacing-0-2: 0.2px;
$spacing-0-24: 0.24px;
$spacing-0-5: 0.5px;
$spacing-0-8: 0.8px;
$spacing-0: 0px;
$spacing-1-5: 1.5px;
$spacing-1: 1px;
$spacing-2: 2px;
$spacing-3: 3px;
$spacing-4: 4px;
$spacing-5: 5px;
$spacing-6: 6px;
$spacing-7: 7px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-11: 11px;
$spacing-12: 12px;
$spacing-13: 13px;
$spacing-14: 14px;
$spacing-15: 15px;
$spacing-16: 16px;
$spacing-17: 17px;
$spacing-18: 18px;
$spacing-19: 19px;
$spacing-20: 20px;
$spacing-21: 21px;
$spacing-22: 22px;
$spacing-23: 23px;
$spacing-24: 24px;
$spacing-25: 25px;
$spacing-27: 27px;
$spacing-28: 28px;
$spacing-29: 29px;
$spacing-31: 31px;
$spacing-30: 30px;
$spacing-31: 31px;
$spacing-32: 32px;
$spacing-34: 34px;
$spacing-35: 35px;
$spacing-36: 36px;
$spacing-37: 37px;
$spacing-38: 38px;
$spacing-40: 40px;
$spacing-44: 44px;
$spacing-45: 45px;
$spacing-46: 46px;
$spacing-48: 48px;
$spacing-49: 49px;
$spacing-50: 50px;
$spacing-51: 51px;
$spacing-52: 52px;
$spacing-55: 55px;
$spacing-56: 56px;
$spacing-58: 58px;
$spacing-60: 60px;
$spacing-61: 61px;
$spacing-62: 62px;
$spacing-64: 64px;
$spacing-65: 65px;
$spacing-68: 68px;
$spacing-70: 70px;
$spacing-71: 71px;
$spacing-72: 72px;
$spacing-74: 74px;
$spacing-75: 75px;
$spacing-76: 76px;
$spacing-77: 77px;
$spacing-78: 78px;
$spacing-80: 80px;
$spacing-82: 82px;
$spacing-84: 84px;
$spacing-86: 86px;
$spacing-88: 88px;
$spacing-90: 90px;
$spacing-95: 95px;
$spacing-96: 96px;
$spacing-100: 100px;
$spacing-108: 108px;
$spacing-111: 111px;
$spacing-120: 120px;
$spacing-125: 125px;
$spacing-135: 135px;
$spacing-150: 150px;
$spacing-154: 154px;
$spacing-160: 160px;
$spacing-168: 168px;
$spacing-175: 175px;
$spacing-180: 180px;
$spacing-200: 200px;
$spacing-218: 218px;
$spacing-240: 240px;
$spacing-242: 242px;
$spacing-250: 250px;
$spacing-252: 252px;
$spacing-256: 256px;
$spacing-260: 260px;
$spacing-262: 262px;
$spacing-276: 276px;
$spacing-290: 290px;
$spacing-296: 296px;
$spacing-300: 300px;
$spacing-320: 320px;
$spacing-321-472: 321.472px;
$spacing-331: 331px;
$spacing-365: 365px;
$spacing-376: 376px;
$spacing-380: 380px;
$spacing-392: 392px;
$spacing-400: 400px;
$spacing-406: 406px;
$spacing-408: 408px;
$spacing-413-321: 413.321px;
$spacing-466: 466px;
$spacing-450: 450px;
$spacing-484: 484px;
$spacing-500: 500px;
$spacing-600: 600px;
$spacing-624: 624px;
$spacing-794: 794px;
